body {
  /*max-width:17cm;
  max-height:24cm;
  margin:auto;
  margin-top:6em; margin-bottom:90em;*/
}
td {
  vertical-align:top;
  width:260px;
  font-size: 9pt;
}
td tt {
  font-family: "Andale Mono", monospace;
  font-size: 9pt;
}
th {
  text-align:left;
  font-size: 9pt;
}
tr.odd { background-color: rgb(237,247,255); }
/* , tr:nth-child(odd)  // css3 selector  */
tr:hover, td:hover { background-color: rgb(205,225,249); }
.clone { color:rgb(204,0,0); }
.alt { font-style:italic; }
p#colophon {
  font-size: 8pt;
  color: gray;
  font-family: "Trebuchet MS", Arial, helvetica, sans-serif;
 }
p#colophon a { text-decoration: none; color:inherit; }

Numérotation des titres 
h1 { counter-reset: section; }
h2:before {content: counter(section) ". ";}
h2 { counter-increment: section;
     counter-reset: subsection;  }
h3:before { content: counter(section) "." counter(subsection) ". " ;}
h3 { counter-increment: subsection;}


#footer{
  /*position:fixed;*/
  height:30px;
  /*position:absolute;*/
  position:relative;
  left:0;
  bottom:0;
  right:0;
  padding:10px 0;
  font-size:8pt;
  text-shadow:1px 0px 1px #fff;
  text-align:center;
  background-color: rgb(205,225,249);   /*background:url(../img/footer.png) repeat #FFF;*/
  max-width:800px;
  margin:auto;
}

#sommaire{display :none;
  /*padding:10px 0;*/
  position:relative;
  /*margin-top:3em; 
  margin-bottom:9em;*/
  font-size:8pt;
  text-shadow:1px 0px 1px #fff;
  text-align:left;
  /*background-color: rgb(205,225,249); */
  width:100%;
  margin:auto;*/
}

#sommaire a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: black;
   /*font-style: italic;*/
   font-weight: bold;
   font-size:12pt;
   text-shadow:1px 0px 1px #fff;
   text-align:center;
   font-family: "Trebuchet MS", Arial, helvetica, sans-serif;
}

#sommaire a:hover /* Apparence au survol des liens */
{
   /*text-decoration: underline;*/
   text-decoration: none;
   color: red;

}

@page {  
 size: 21cm 30cm;  
 margin-left: 2cm;  
 margin-right: 2cm;  
 margin-top: 2cm;  
 margin-bottom: 2cm;  
} 

/*
#enTetePrint {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 0.75em;
  }
#piedPagePrint {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;

  font-size: 0.75em;
  }
#piedPagePrint:after {
  content: counter(page);
  counter-increment: page;
  }
head, foot           { display :none; }
*/

