body {
  max-width:18cm;
  max-height:24cm;
  margin:auto;
  margin-top:6em; margin-bottom:90em;
}
p {text-align:justify;}


table {
border-collapse: collapse
}

tr#titre_tab {page-break-after: avoid;}

td {
border: 1pt solid #000000;
}

td {
  vertical-align:top;
  width:260px;
  font-size: 9pt;
  /*border=1pt;*/
}
td tt {
  font-family: "Andale Mono", monospace;
  font-size: 9pt;
}
th {
  text-align:left;
  font-size: 9pt;
}



p#colophon {
  font-size: 8pt;
  color: gray;
  font-family: "Trebuchet MS", Arial, helvetica, sans-serif;
 }
p#colophon a { text-decoration: none; color:inherit; }

/*Numérotation des titres */
h1 { counter-reset: section; 
  text-align: center;
}
h2:before {content: counter(section) ". ";}
h2 { counter-increment: section;
     counter-reset: subsection;  }
h3:before { content: counter(section) "." counter(subsection) ". " ;}
h3 { counter-increment: subsection;}


#footer{
  /*position:fixed;*/
  height:30px;
  /*position:absolute;*/
  position:relative;
  left:0;
  bottom:0;
  right:0;
  padding:10px 0;
  font-size:8pt;
  text-shadow:1px 0px 1px #fff;
  text-align:center;
  background-color: rgb(205,225,249);   /*background:url(../img/footer.png) repeat #FFF;*/
  max-width:800px;
  margin:auto;
}

#footer td {border:none;}

#sommaire {display:none;}

#sommaire_print{
  display:block;
  position:relative;
  
  counter-reset: section; 
  /*height:150px;
  left:5px;
  top:5px;
  right:82%;
  bottom:5px;
  width:130px;*/
  /*padding:10px 0;*/
  /*position:absolute;*/
  /*margin-top:3em; 
  margin-bottom:9em;*/
  font-size:8pt;
  /*text-shadow:1px 0px 1px #fff;
  text-align:left;
  background-color: rgb(205,225,249);   /*background:url(../img/footer.png) repeat #FFF;*/
  /*margin:auto;*/
}

#sommaire_print h1 {
 font-size:14pt;
 font-weight: bold;
 padding: 0pt;
 margin:0pt;
 text-align:left
 
 }

#sommaire_print h2 {
 font-size:12pt;
 font-weight: normal;
 padding: 0pt;
 margin:0pt;
 margin-left:1cm;
 
 }

#sommaire_print h3 {
 font-size:10pt;
 font-weight: normal;
 padding: 0pt;
 margin:0pt;
 margin-left:1.3cm;
 
 }
#sommaire_print h4 {
 font-size:10pt;
 font-weight: normal;
 font-style: italic;
 padding: 0pt;
 margin:0pt;
 margin-left:2.2cm;
 
 }


@page {  
 size: 21cm 30cm;  
 margin-left: 2cm;  
 margin-right: 2cm;  
 margin-top: 2cm;  
 margin-bottom: 2cm;  
} 

/*
#enTetePrint {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 0.75em;
  }
#piedPagePrint {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;

  font-size: 0.75em;
  }
#piedPagePrint:after {
  content: counter(page);
  counter-increment: page;
  }
head, foot           { display :none; }
*/

